@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import url('./reset.css');

:root {
    --white-color: #FFFFFF;
    --primary-color: #E56035;
    --secondary-color: #499A9A;
    --block-color: #383838;
    --p-color: #BABABA;
    --bg-color: #E5E5E5;
    --box-background: linear-gradient(180deg, #FAFDFC 0%, rgba(250, 253, 252, .4) 100%);
    --box-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.05));
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --font-nunito: 'Nunito', sans-serif;
}

body {
    background-color: #F7FBFB;
    font-family: 'Nunito', sans-serif;
}

h1,
.h1 {
    font-family: 'Frank Ruhl Libre', serif;
}



h2,
.h2 {
    font-family: 'Frank Ruhl Libre', serif;
}

h3,
.h3 {
    font-family: 'Frank Ruhl Libre', serif;
}


p {
    line-height: 1.5;
}

@media (min-width: 1025px) and (max-width: 1380px) {

    .h1,
    h1 {
        font-size: 2.2rem;
    }

    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

}


.theme-btn {
    display: inline-block;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 0;
    position: relative;
    box-shadow: none;
    outline: none;
    z-index: 2;
    font-size: 14px;
    letter-spacing: .28px;
    text-align: center;
    transition: all .4s linear 0s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.theme-btn:hover {
    background: var(--primary-color);
    color: #fff !important;
}

.btn-md {
    font-size: 1rem;
    min-height: 50px;
    min-width: 160px;
    padding: 0 25px;
    grid-gap: 23px;
    gap: 23px;
    border: 0;
    border-radius: 15px;
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.protfolio-container {
    display: grid;
    grid-template-columns: 400px 1fr;
}

/* Sing Page */

.sing-in-page-area {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.back-home-icon {
    position: absolute;
    top: 1cm;
    left: 1.5cm;
}

.back-home-icon a {
    color: var(--p-color);
    font-size: 18px;
}

.back-home-icon i {
    padding-right: 10px;
    border: 2px solid var(--p-color);
    width: 25px;
    height: 25px;
    border-radius: 100px;
    display: inline-grid;
    align-items: center;
    padding: 0 4px;
    margin-right: 10px;
    font-size: 14px;
}

.sing-in-page-content {
    background: var(--box-background);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 100px;
}

.welcome-sing {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 15px;
}

.welcome-sing img {
    width: 100%;
}

.welcome-sing h1 {
    align-self: center;
    font-size: 36px;
}

.sing-form form {
    display: flex;
    gap: 10px;
}

.sing-form form input {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 10px;
    width: 100%;
    height: 50px;
}

.sing-text p {
    font-weight: normal;
    color: var(--p-color);
}

.sing-text a {
    color: #939393;
    font-weight: 700;
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .sing-in-page-area {
        padding: 5px;
    }

    .sing-in-page-content {
        padding: 00px;
        background: none;
        box-shadow: none;
    }

    .welcome-sing {
        display: block;
        text-align: center;
    }

    .sing-form form {
        display: block;

    }

    .welcome-sing img {
        width: auto;
        height: 120px;
        margin: 0 auto;
    }

    .sing-form form button {
        margin-top: 15px;
    }

    .sbu {
        text-align: center;
    }

    .back-home-icon {
        top: .5cm;
        left: .7cm;
    }

    .back-home-icon span {
        display: none;
    }


}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff !important;
    background-color: var(--primary-color) !important;
}

/* Menu */
.menu-area {
    background-color: var(--white-color);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.profile-menu {
    display: flex;
}

.menu-list {
    display: inline-flex;
    gap: 35px;
}

.menu-list li {
    align-self: center;
}

.menu-list li a {
    color: #BABABA;
    font-size: 18px;
    font-weight: 500;
}

.menu-list .user-logo {
    color: var(--block-color);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 24px 0;
}

.menu-list .user-logo img {
    width: 40px;
    height: auto;
    border-radius: 100px;
}

.menu-list .navbar-nav>li {
    display: inline-block;
}


@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
        width: 200px;
    }


    .navbar .dropdown-menu.fade-down {
        top: 90%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 160%;
    }

    .navbar .nav-item:hover .dropdown-menu a {
        font-weight: bold;
        font-size: 16px;
        color: var(--block-color);
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 110%;
        transform: rotateX(0deg);
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 18px 5px;

        gap: 9px;
        display: grid;
    }
}


/* ============ Main ============ */

.profile-wrapper {
    padding-top: 120px;
}

/* profile left */

.profile-left {
    background-color: var(--white-color);
    display: grid;
    gap: 40px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.user-profile {
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: -115px;
}

/* .user-profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    height: 120px;
    width: 100%;
    z-index: -1;
} */

.profile-det {
    padding: 0 35px;
}

.profile-det ul {}


.profile-det .title {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
}

.profile-det .title i {}

.user-profile img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.user-profile .name {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.user-profile .date {
    font-weight: 500;
    padding: 5px 0 20px;
}

.user-profile .user-btn {
    border: 2px solid #BABABA;
    color: var(--p-color);
    padding: 7px 15px;
    border-radius: 5px;
    gap: 8px
}

.personal-balance ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.personal-balance li {
    display: flex;
    gap: 8px;
    font-weight: 600;
}

.personal-balance li i {
    font-size: 18px;
    padding-top: 2px;
    padding-left: 9px;
}

.balance .h3 {
    font-weight: 600;
    font-size: 22px;
    font-family: var(--font-nunito);
    margin-bottom: 0;
}

.balance p {
    color: var(--p-color);
    font-size: 13px;
}

.balance-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 30px;
}

.balance-btn .theme-btn {
    padding: 13px 0;
    border-radius: 10px;
}



.achievements {}

.achievements ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.achievements li {
    color: var(--white-color);
    background: linear-gradient(180deg, #93BEBE 0%, #CCDEDE 100%);
    border: 4px solid #EAF4F4;
    box-shadow: 1px 0px 4px rgb(0 0 0 / 8%);
    border-radius: 100px;
    height: 95px;
    width: 95px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    line-height: 1.5;
}

.certificates {}

.certificates ul {
    display: grid;
    gap: 20px;
}

.certificates li {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 10px;
}

.certificates li img,
.certificates li .certificates-text {
    align-self: center;
}

.certificates li .certificates-text .h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
}

.certificates-text .date {
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
}

.certificates-text i {
    color: #A1CDCD;
}

.certificates-text .share {
    display: flex;
    gap: 10px;
}

.profile-det.message {
    font-weight: 600;
    font-size: 16px;
}

.profile-det.message a {
    color: var(--block-color);
    border-bottom: 1px solid var(--block-color);
}

/* profile right */

.profile-right {
    display: grid;
    gap: 25px
}

.profile-right-item {
    background: var(--white-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.profile-right-item .courses-title .h4 {
    font-weight: bold;
    font-size: 22px;
}

.profile-right-item .courses-title .not-btn {
    border: 2px solid #BABABA;
    color: var(--p-color);
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}


.courses-title {
    display: flex;
}

.courses-title .not-btn {
    margin-left: auto;
}

.courses-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.courses-item {
    display: grid;
    text-align: center;
    gap: 18px;
}

.c-cont .title {
    color: #BABABA;
    font-size: 18px;
    font-weight: 600;
}

.c-cont .subtitle {
    color: #BABABA;
    font-size: 12px;
    font-weight: 500;
    padding-top: 6px;
}

.courses-item .text {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    width: 180px;
}

.courses-item .chart {
    position: relative;
    display: inline-block;
}

.courses-item .chart span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.courses-item:last-child {
    margin-top: auto;
}

.c-cont-btn {}

.c-cont-btn a {
    /* max-width: 150px; */
    min-width: 150px;
    padding: 10px 6px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.notes-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.notes-item {}

.notes-item ul {
    display: flex;
    gap: 15px;
}

.notes-title {
    color: #BABABA;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}

.notes-list {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

.notes-list h5 {
    color: var(--block-color);
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 7px;
}

.notes-list h5 a {
    color: var(--block-color);
}

.notes-list h5 a:hover {
    color: var(--primary-color);
}

.notes-list ul {}

.notes-list ul li {
    display: inline-block;
    color: var(--block-color);
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

.notes-list ul li:last-child {
    color: #BABABA;
}

.seeall {
    color: #BABABA;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s;
}

.seeall:hover {
    color: var(--primary-color);
}


.notes-top {
    padding-bottom: -50px;
}

.notes-top p {
    font-weight: 600;
    font-size: 17px;
    padding-top: 10px;
}

.notes-top img {
    height: 165px;
    transform: translateY(10px);
}

.porum-content .search-form {
    margin-top: 0;
}

.more-top-notes .create-new-post {
    font-weight: 600;
    font-size: 18px;
    color: var(--p-color);
}



/* 
    Fourm
*/



.search-form {
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-form input {
    width: 100%;
    height: 55px;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 10px;
}

.search-form input::placeholder {
    color: #BABABA;
}

.search-form button {
    border: 0;
    background: no-repeat;
    outline: none;
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #BABABA;
}


.forum-tabs-content .tab-content {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.forum-tabs {
    display: flex;
    gap: 40px;
}

.forum-tabs li {}

.forum-tabs li button:hover,
.forum-tabs li .active {
    color: var(--primary-color) !important;
    border-bottom: 2px solid #E56035 !important;
}

.forum-tabs li button {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #BABABA;
    text-transform: capitalize;
    padding-bottom: 15px;
}

.community-rated {}

.community-rated-item {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #F2F8F7
}

.community-rated-left {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 20px;
}

.community-rated-left img {
    width: 100%;
    border-radius: 100%;
}

.community-list {
    align-self: center;
}

.community-list h5 a {
    color: var(--block-color);
    font-weight: 700;
}

.community-list h5 a:hover {
    color: var(--primary-color);
}

.community-list ul {
    padding-top: 10px;
}

.community-list ul li {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
}

.community-list ul li:last-child {
    color: var(--p-color);
    padding-left: 5px;
}

.community-list ul li:nth-child(2)::before {
    content: '.';
    padding: 0 5px 0 0px;
    display: inline-block;
    font-size: 17px;
}

.community-rated-right {
    align-self: center;
    margin-left: auto;
}

.rated-list {
    display: flex;
    gap: 15px;
}

.rated-list li {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #93BEBE;
}

.rated-list li .number {}

.rated-list li i {
    padding-top: 10px;
}

/* .community-rated .theme-btn {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--block-color);
    background-color: var(--white-color);
} */

.create-post-forum .my-post {
    display: flex;
    padding-bottom: 4px;
}

.create-new-post {
    margin-left: auto;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    align-self: center;
}

.my-post-content {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.postList {
    display: flex;
    gap: 25px;
    padding-bottom: 10px;
}

.postList li {}

.postList li button:hover,
.postList li .active {
    color: var(--primary-color) !important;

}

.postList li button {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #BABABA;
    text-transform: capitalize;
}


.discussion-content {
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
}

.discussion-content ul {}

.discussion-content ul li {
    display: inline-block;
}

.discussion-content ul li a {
    font-size: 15px;
    padding: 6px 0px;
    display: inline-block;
    color: #000000;
    font-weight: 600;
    transition: all .3s linear;
}

.discussion-content ul li a:hover {
    color: var(--primary-color);
}

.discussion-content ul li a::after {
    content: '/';
    padding: 0 10px;
}

.discussion-content ul li:last-child a::after {
    display: none;
}

.forum-img {}

.forum-img img {
    width: 100%;
}

.forum-img {
    padding-top: 50px;
    margin-left: -50px;
}

.my-post .title {
    font-weight: 700;
    font-size: 24px;
    color: var(--block-color);
}

.more-top-notes {}

.notes-title {}

.more-notes-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    column-gap: 100px;
}

.more-notes-item .h4 {
    font-weight: 600;
    padding-bottom: 15px;
    font-size: 20px;
}

.more-notes-item p {
    font-size: #000;
    font-size: 18px;
    padding-top: 20px;
    line-height: 1.5;
}

.post-admin-text {}

.post-admin-text h6 {
    font-weight: 600;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    color: var(--p-color);
}

.post-admin-text ul {}

.post-admin-text ul li {
    color: var(--p-color);
}

.post-btns a {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
}

.writers-month-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.writers-month-item h5 {
    font-weight: 700;
    margin-bottom: 0px;
}

.writers-month-item h4 {
    font-weight: 700;
    padding: 4px 0;
    color: var(--p-color);
}

.all-notes-subBox {
    display: grid;
    grid-template-columns: 1fr 200px;
}

.all-notes-subBox-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 20px;
}

.all-note-shear {
    padding-top: 10px;
}

.all-note-shear li a {
    color: var(--secondary-color);
    font-size: 18px;
}

.all-note-item h5 {
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 18px;
}

.all-note-item ol li {
    font-size: 18px;
    font-weight: 700;
}

.all-notes-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    column-gap: 30px;
    row-gap: 35px;
    padding: 35px;
}

.allNoteBg {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    margin-top: 30px;
}

.all-note-item .community-list ol {}

.all-note-item .community-list ol li {
    font-weight: 600;
    font-size: 15px;
}

.all-note-item .community-list ol li::after {
    content: "|";
    margin: 0 5px;
}

.all-note-item .community-list ol li:last-child:after {
    display: none;
}

.all-note-item .community-list ul li {
    color: var(--p-color);
}

.learn-left {}

.learn-header {}

.learn-header h1 {}

.learn-header-btn .theme-btn {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--block-color);
    font-weight: 700;
    padding: 8px 15px;
}

.learn-unit {
    position: relative;
    z-index: 1;
}

.learn-unit::before,
.learn-unit::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.learn-unit::before {
    width: 337.62px;
    height: 175.79px;
    background-image: url(../img/Vector2.png);
}

.learn-unit::after {
    top: 175px;
    left: 105px;
    width: 537.2px;
    height: 572.43px;
    background-image: url(../img/Vector3.png);
}

.unit-item {
    width: 200px;
}


.unit-number {
    width: 75px;
    height: 75px;
    border: 4px solid #EAF4F4;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 100%;
    background: linear-gradient(180deg, #BABABA 0%, #E4E4E4 100%);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.unit-item.active .unit-number {
    background: linear-gradient(180deg, #93BEBE 0%, #CCDEDE 100%);
}

.unit-item img {
    filter: invert(67%) sepia(0%) saturate(29%) hue-rotate(135deg) brightness(84%) contrast(84%)
}

.unit-item.active img {
    filter: unset
}

.unit-item:nth-child(1) .unit-number {
    background: linear-gradient(180deg, #E56035 0%, #FDA170 100%);
    border: 4px solid rgba(255, 243, 237, 0.83);
}

.unit-item:nth-child(1) {
    transform: translate(7cm, -1cm);
}

.unit-item:nth-child(2) {
    transform: translate(-1cm, -1cm);
}

.unit-item:nth-child(3) {
    transform: translate(3cm, -2cm);
}

.unit-item:nth-child(4) {
    transform: translate(8cm, 0cm);
    margin-top: -3.5cm;
}

.unit-item:nth-child(5) {
    transform: translate(13cm, 0cm);
    margin-top: -2.2cm;
}

.unit-item:nth-child(6) {
    transform: translate(10.5cm, .4cm);
}

.unit-item:nth-child(6) img {
    height: 60px;
}

.unit-item:nth-child(7) {
    transform: translate(6cm, -.8cm);
}

.unit-item:nth-child(8) {
    transform: translate(8cm, 1.4cm);
}

.unit-item:nth-child(9) {
    transform: translate(0cm, 0cm);
    margin: -3cm 0 0cm -3cm;
}

.unit-item:nth-child(9) img {
    height: 200px;
}

.unit-item:nth-child(10) {
    transform: translate(3cm, 2cm);
}

.unit-item:nth-child(11) {
    transform: translate(8cm, -1cm);
}

.unit-item:nth-child(12) {
    transform: translate(12.3cm, 0cm);
    margin-top: -3.2cm;
}

.unit-item:nth-child(13) {
    transform: translate(3cm, 2cm);
}

.unit-item:nth-child(14) {
    transform: translate(8cm, 0cm);
    margin-top: -0.5cm;
}

.unit-item h6 {
    font-weight: 700;
    color: var(--block-color);
    width: 155px;
    font-size: 14px;
}

.learnNot-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.learnNot-lists li {
    color: var(--white-color);
    background: linear-gradient(180deg, #E56035 0%, #FDA170 100%);
    border: 4px solid #FFF3ED;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    height: 85px;
    width: 85px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;
    font-weight: 700;
}


.units-progress {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 20px;
    padding-bottom: 25px;
}

.units-progressLeft {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.units-progressLeft li {
    width: 35px;
    height: 35px;
    color: #fff;
    background: linear-gradient(180deg, #BABABA 0%, #E4E4E4 100%);
    border: 2px solid #FAFAFA;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.units-progressLeft li.active {
    background: linear-gradient(180deg, #93BEBE 0%, #CCDEDE 100%);
}

.units-progressLeft li.active:nth-child(4) {
    background: linear-gradient(180deg, #E56035 0%, #FDA170 100%);
}

.units-progressRight {
    align-self: center;
    color: var(--p-color);
}

.units-progressRight .h5 {
    color: var(--p-color);
    font-weight: 500;
}

.protPar {
    font-family: var(--font-nunito);
    margin-bottom: 0;
}

.learn-right {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: grid;
    gap: 30px;
}

.learn-notes-item .h5 {
    color: var(--p-color);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0 10px;
}

.moreBtn .theme-btn {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--block-color);
    background-color: var(--white-color);
}

.moreBtn .theme-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.all-notes-subBox-right button {
    background: none;
    color: #000;
    width: 160px;
    text-align: left;
}

.all-notes-subBox-right button:hover {
    background-color: var(--primary-color);
}

.all-notes-subBox-right button::after {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}

#chartContainer .canvasjs-chart-canvas {
    width: 100%;
    height: 250px !important;
}

#chartContainer,
.canvasjs-chart-canvas {
    width: 100%;
    height: 250px !important;
}

@media (min-width: 1025px) and (max-width: 1380px) {
    .notes-top p {
        font-size: 15px;
    }

    .more-notes-item p {
        font-size: 15px;
    }

    .sing-in-page-content { 
        padding: 60px;
    }
}